<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
      
      {% if message %}
        <div class="alert alert-primary" role="alert">
          {{message}}
        </div>
      {%endif%}
    <h1 class="text-center my-3">Welcome To KhataBook</h1>
    <div class="container text-center my-3">
        <h2>Log In</h2>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Username</label>
              <input type="text" class="form-control" name="username" id="title" aria-describedby="emailHelp"> 
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="desc">
            </div>
            
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
        <a href="/register/">No Accout?</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>